<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
</head>

<body>
<form name="login" action="{{ formdata.hotspot_login_url }}" method="post" >
<input type="hidden" name="url" value="{{ formdata.origin_url }}" />
<input name="user" type="hidden" value="{{ formdata.username }}"/>
<input name="password" type="hidden" value="{{ formdata.password }}"/>
<input type="hidden" name="mac" value="{{ formdata.username }}">
</form>

<script language="JavaScript">
   document.login.submit();
</script>


</body>
</html>
