<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
    <li>{{ request.method }}</li>
    {% for item in request.headers %}
        <li>{{ item }}</li>
    {% endfor %}

<form name="login" method="post" >
<input type="hidden" name="dst" value="{{ extradata.linkorig }}" />
<input type="hidden" name="popup" value="true" />
Username :<input name="username" type="text" /><br>
Password : <input name="password" type="password" /><br>
<input type="submit" value="Login" />
</form>

</body>
</html>
