<html>
<head><title>...</title></head>
<body>
<noscript>
<center><b>JavaScript required. Enable JavaScript to continue.</b></center>
</noscript>
<form name="redirect" action="{{ template_data.url }}" method="post">
<input type="hidden" name="client_id" value="{{ template_data.client_id }}">
<input type="hidden" name="hotspot_id" value="{{ template_data.hotspot_id }}">
<input type="hidden" name="entrypoint_id" value="{{ template_data.entrypoint_id }}">
<input type="hidden" name="original_url" value="{{ template_data.original_url }}">
<input type="hidden" name="hotspot_login_url" value="{{ template_data.hotspot_login_url }}">
</form>
<script language="JavaScript">document.redirect.submit();</script>
</body>
</html>
